---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import SocialContainer from "../components/SocialContainer.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import MailIcon from "../components/icons/Mail.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Suitcase from "../components/icons/Suitcase.astro";
import CodeIcon from "../components/icons/Code.astro";
import TitleSection from "../components/TitleSection.astro";
import Projects from "../components/Projects.astro";
import AboutMe from "../components/AboutMe.astro";
import ProfileCheck from "../components/icons/ProfileCheck.astro";
import ContactForm from "../components/ContactForm.astro";
import Hero from "../components/Hero.astro";
import PopUp from "../components/PopUp.astro";
import Modal from "../components/Modal.astro";
---

<Layout
	title="Santiago Franco | Back-End | DevOps"
	description="Santiago Franco personal website portfolio"
>
	<main class="px-4">
		<SectionContainer class="py-16 md:py-36">
			<Hero />
		</SectionContainer>
		<SectionContainer id="experience">
			<h2
				class="text-3xl font-semibold mb-6 dark:text-white text-black mb- flex gap-x-2 gap-y-4 items-center"
			>
				<Suitcase class="size-8" />
				Work experience
			</h2>
			<Experience />
		</SectionContainer>
		<SectionContainer id="projects">
			<TitleSection>
				<CodeIcon class="size-7" />
				Projects
			</TitleSection>
			<Projects />
			<PopUp />
		</SectionContainer>
		<SectionContainer id="about-me" class="py-16">
			<TitleSection>
				<ProfileCheck class="size-8" />
				About me
			</TitleSection>
			<AboutMe />
		</SectionContainer>
	</main>
</Layout>
