---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro"
import SocialContainer from "../components/SocialContainer.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import MailIcon from "../components/icons/Mail.astro"
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Suitcase from "../components/icons/Suitcase.astro";
import CodeIcon from "../components/icons/Code.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<main class="px-4">
		<SectionContainer class="py-16 md:py-36">
			<img
				src="https://e7.pngegg.com/pngimages/410/329/png-clipart-computer-icons-github-instructure-con-2018-icon-design-desktop-github-white-mammal-thumbnail.png"
				class="rounded-full w-12 h-12 mb-4"
				alt="me"
			/>
			<h1
				class="text-white text-3xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10 text-balance"
			>
				Hey, i'm Santiago
				<a
					href="https://www.linkedin.com/in/santiago-franco-de-la-rosa-b657941b0/"
					target="_blank"
					rel="noopener"
					class="flex items-center transition md:justify-center md:hover:scale-105"
				>
					<Badge>Open to work</Badge>
				</a>
			</h1>
			<h2 class="text-xl lg:text-2xl opacity-80 text-wrap max-w-[600px]">
				<span> +1 year experience. </span>
				<span class="text-yellow-200/90">
					Software Developer and Participant DevOps Engineer.
				</span>
				<span class="text-red-200/90"> From Colombia 🇨🇴. </span>
				<span class="opacity-80">
					Especialized creating a quality software solutions and
					automated process.
				</span>
			</h2>
			<nav class="flex flex-wrap gap-4 mt-8">
				<SocialContainer href="https://www.linkedin.com/in/santiago-franco-de-la-rosa-b657941b0/">
					<LinkedInIcon class="size-4 md:size-6"/>
						LinkedIn
				</SocialContainer>
				<SocialContainer href="https://github.com/santiangofrancozx">
					<GitHubIcon class="size-4 md:size-6"/>
						GitHub
				</SocialContainer>
				<SocialContainer href="mailto:santiagofrancozx@gmail.com">
					<MailIcon class="size-4 md:size-6"/>
						santiagofrancozx@gmail.com
				</SocialContainer>
			</nav>
		</SectionContainer>
		<SectionContainer id="experience">
			<h2 class="text-3xl font-semibold mb-6 text-white mb- flex gap-x-2 gap-y-4 items-center">
				<Suitcase class="size-8"/>
				Work experience
			<h2/>
			<Experience/>
		</SectionContainer>
		<SectionContainer id="projects">
			<h2 class="text-3xl font-semibold mb-6 text-white mb- flex gap-x-2 gap-y-4 items-center">
				<CodeIcon class="size-8"/>
				Projects
			<h2/>
		</SectionContainer>
	</main>
</Layout>
